
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    /* background:  #4b5563; */
    margin: 0;
    height: 100%;
    animation: pf 2s infinite;
    background-position: center;

    
}


.text h1{
    background-clip: text;
    color: transparent;
    animation: colorChange 1s linear infinite;
}



@keyframes colorChange {
  0%   { background-color: rgb(255, 0, 0); }    /* Red */
  33%  { background-color: rgb(0, 255, 0); }    /* Green */
  66%  { background-color: rgb(0, 0, 255); }    /* Blue */
  100% { background-color: rgb(255, 0, 0); }    /* Back to Red */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.content-main {
    width: 500px;
    height: 500px;
    background-color: #ffffff91;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: pf 3s infinite; */
    background-position: center;
    background-size: cover;
}
.pf {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pf img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000;
    animation: colorChange 1s infinite;
    background-position: center;
    background-size: cover;
}

.pf img:hover {
    background-image: url("Frame 52.svg");
}

.cf-ct {
    display: grid;
    justify-content: center;

}
 .cf { 
    display: flex;
    justify-content: center;    
    margin:0;
    width: 200px;
    height: 200px;
    animation: pf 1s infinite  ;
    background-position: center;
    background-size: cover;
 }  

@keyframes pf {
    0% {
        background-image: url("New folder/00b2f862-fdc9-447f-9cbd-f73835ddb101.jpg");
    }
    20% {
        background-image: url("New folder/0b4b9162-8523-4be6-830e-0371c4e7cd13.jpg");

    }
    40% {
        background-image: url("New folder/8a28c56f-5881-426e-b06d-03bf3fdc68b2.jpg");

    }
    60% {
        background-image: url("New folder/94eb567f-eb27-439d-9019-db846873fa5c.jpg");
    }
    80% {
        background-image: url("New folder/414072d3-7e8e-4ef6-b1f8-409e220e1b51.jpg");

    }
    100% {
        background-image: url("New folder/26451317-a7b7-4d02-88ab-c500f5ff63a0.jpg");
        
    }
}
.ct-link {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}
.ct-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #3b5998;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ct-link a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.ct-link a:hover {
    background-color: #2d4373;
}
